<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="loginjgv-component">
  <template>
    <style>
      :host {
        position: relative;
        font-size: 10px;
        --heading-height: 28px;
        font-family: "Roboto", Arial, sans-serif;
      }

      :host a { 
        cursor: pointer;
      }

      :host .login {
        display: block;
        width: 98%;
        align-items: center;
        justify-content: center;
        padding: 5px;
        border-radius: 10px 10px 10px 10px;
        border-style: solid;
        border-width: medium;
        border-block-color: black;
      }

      :host .lblusr {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 15px;
        border-radius: 5px 5px 5px 5px;
        background-color: #f0f0f5;
      }

      :host .lblpss {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content:space-between;
        padding: 15px;
        border-radius: 5px 5px 5px 5px;
        background-color: #f0f0f5;
      }    

      :host img { 
        width: 26px;
        height: 26px;
      } 

      :host .btn {
        display: flex;
        justify-content: flex-end;
        padding: 5px;
      }

      :host input {
        border-width:0px;
        border:none;
        background: transparent;
        font-size:25px;
      }

      :host input:focus { 
        outline: none !important;
        border-color:#8585ad;
        border-radius: 5px 5px 5px 5px;
      } 
    </style>
      <div class="login">
        <br>
        <div class="lblusr">
          <label>
            <img src="{{avatar}}" />
            &nbsp;&nbsp;
            <input type="text" value="{{uservalue::input}}" size="20" maxlength="8" name="user" id="user" placeholder="{{user}}">
          </label>
        </div>
        <br>
        <div class="lblpss">
          <label>
            <img src="{{lock}}" />
            &nbsp;&nbsp;
            <input type="password" value="{{passvalue::input}}" size="20" maxlength="8" name="pass" id="pass" placeholder="{{pass}}">
          </label>
        </div>
        <br>
        <br>
        <div class="btn">
          <a on-click="validateUser">
            <img src="{{checked}}" />
          </a>
          &nbsp;&nbsp;&nbsp;
          <a on-click="clearFields">
            <img src="{{error}}" />
          </a>
        </div>
        <br>
      </div>  
  </template>

  <script>
    /**
     * `loginjgv-component`
     * Login component for Exercise 2 in Cells Academy
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class LoginjgvComponent extends Polymer.Element {
      static get is() { return 'loginjgv-component'; }
      static get properties() {
        return {
          user: {
            type: String,
            value: 'user'
          },
          pass: {
            type: String,
            value: 'password'
          },
          uservalue: {
            type: String,
            value: ''
          },
          passvalue: {
            type: String,
            value: ''
          },
          avatar: {
            type: String,
            value: '/images/avatar.png'
          },
          lock: {
            type: String,
            value: '/images/lock.png'
          },
          checked: {
            type: String,
            value: '/images/checked.png'
          },
          error: {
            type: String,
            value: '/images/error.png'
          }
        };
      }
      validateUser(){
        if(this.uservalue=="xm020pv" && this.passvalue=="230956"){
          this.dispatchEvent(new CustomEvent('login', {bubbles: true, composed: true, cancelable: true, detail: {logedin: true}}));
        }else{
          console.log("User or password are wrong");
        }
      }
      clearFields(){
        this.uservalue="";
        this.passvalue="";
      }
    }

    window.customElements.define(LoginjgvComponent.is, LoginjgvComponent);
  </script>
</dom-module>
